@import "../../assets/styles/variables";

.allContainer{
    background-color: #1E1E1E;
    min-height: 100dvh;

    .bodyContainer{
        padding: 40px 30px 30px 23%;

        @media screen and (max-width: 1200px) {
            padding-left: 100px;   
        }
    }

    .allWanted{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 50px;
        
        .onWanted{
            flex: 0 0 320px;
            max-height: 280px;
            height: 250px;
            background-color: $white-color;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.301);
            
            img{
                width: 100%;
                height: 250px;
                object-fit: cover;
                border-radius: 15px;

                &:nth-child(1){
                    width: 40px;
                    height: initial;
                }
            }
    
            svg{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 25px;
                color: $gray-color;
                z-index: 99;
                cursor: pointer;
            }
        }
    }

    .notFoundWanted{
        display: flex;
        margin: auto;
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
        font-weight: 500;
        color: rgb(80, 80, 80);
    }

}