@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;800&display=swap');

$font-family: 'Outfit', sans-serif;
$primary-color: #ffd700;
$text-color : #1d1d1d;
$secondary-color: #DCDCDC;
$white-color : #fff;
$black-color : #000;
$font-color: #fcfcfc;
$gray-color: #535556;