@import "../../assets/styles/variables";

.allContainer{
    max-width: 330px;
    height: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    color: $white-color;

    h3{
        font-weight: 400;
        font-size: 20px;
    }

    label{
        cursor: pointer;
        display: flex;
        width: 100%;
        position: relative;
        div{
            margin: 15px 0px;
            width: 100%;
            height: 250px;
            border-radius: 10px;
            background-color: $secondary-color;
            overflow: hidden;
            border: 1px solid $white-color;
            box-shadow: 0px 0px 5px rgb(197, 197, 197);
            
            img{
                width: 100%;
                height: 120px;
                object-fit: cover;
            }
        }

        svg{
            font-size: 15px;
            position: absolute;
            right: 5px;
            top: 20px;
            background-color: $white-color;
            border-radius: 50px;
            border: 1px solid rgb(231, 231, 231);
            padding: 10px;
            color: gray;
        }
        
    }

    input{
        display: none;
    }

    p{
        font-weight: 300;
        margin: 0;
        line-height: 27px;
        font-size: 14px;
        span{
            font-weight: 500;
        }
    }

    .button{
        margin-top: 15px;
        display: flex;
        gap: 10px;

        div{
            font-family: $font-family;
            font-weight: 400;
            margin: 0px;
            border: none;
            font-size: 14px;
            color: $text-color;
            border-radius: 50px;
            padding: 15px 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(2){
                color: $white-color;
            }
        }

        .save{     
            background-color: $primary-color;
        }
        .delete{     
            background-color: red;
        }
    }

    @media screen and (min-width: 800px) { 
        p{
            font-weight: 400;
            font-size: 15px;
        }
        
        label{
            div{
                height: 280px;
                img{
                    height: 280px;
                }
            }
        }
        
        .button{
            div{
                font-size: 16px;
                padding: 15px 30px;
            }
        }
    }
}